@import 'tailwindcss';

@plugin '@tailwindcss/aspect-ratio';

@theme {
  --font-coinbase: CoinbaseText, sans-serif;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-white: var(--white);
  --color-black: var(--black);
  --color-dark-grey: var(--dark-grey);
  --color-grey: var(--grey);
  --color-lightest-grey: var(--lightest-grey);
  --color-primary: var(--primary);
  --color-mid-grey: var(--mid-grey);
  --color-light-grey: var(--light-grey);
}


@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@font-face {
  font-family: 'CoinbaseText';
  src: url('/fonts/Coinbase_Text-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CoinbaseText';
  src: url('/fonts/Coinbase_Text-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'CoinbaseText';
  src: url('/fonts/Coinbase_Text-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

/* Define light mode colors */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --white: #ffffff;
  --black: #000000;
  --dark-grey: #333333;
  --grey: #bdbdbd;
  --mid-grey: #525252;
  --light-grey: #d4d4d4;
  --lightest-grey: whitesmoke;
  --primary: #4F46E5; /* Indigo-600 */
  --primary-light: #818CF8; /* Lighter variant (Indigo-400) */
  --primary-dark: #4338CA; /* Darker variant (Indigo-700) */
}

/* Apply global styles */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'CoinbaseText', sans-serif;
}

